body {
  font-family: 'Exo 2', helvetica, arial, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #5432c1;
  background: linear-gradient(#327bc1, #5432c1);
}

@-webkit-keyframes STAR-MOVE {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

.stars-layer-1 {
  background: url(images/stars-layer-1.png) repeat 20% 20%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 200;

  -webkit-animation-name: STAR-MOVE;
  -webkit-animation-duration: 300s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.stars-layer-2 {
  background: url(images/stars-layer-2.png) repeat 35% 35%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 300;

  -webkit-animation-name: STAR-MOVE;
  -webkit-animation-duration: 150s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.container {
  width: 100%;
  position: relative;
  z-index: 300;
}

img.logo {
  margin-top: 48px;
}

h1 {
  font-size: 100px;
  line-height: 100px;
  margin: 0;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  margin: 12px 0;
  color: #ABA8E1;
}

form {
  padding: 24px 0;
  font-size: 30px;
}

input {
  display: inline-block;
  background: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid #fff;
  border-radius: 3px;
  padding: 10px;
  vertical-align: top;
}
  input::-webkit-input-placeholder {
     color: #B3B2E5;
  }
  input:-moz-placeholder {
     color: #B3B2E5;
  }
  input::-moz-placeholder {
     color: #B3B2E5;
  }
  input:-ms-input-placeholder {
     color: #B3B2E5;
  }
  input:placeholder {
     color: #B3B2E5;
  }

  input:focus {
    outline: none;
  }

button {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: border-color 0.5s;
  background: #313131;
  color: #fff;
  border: 3px solid #B3B2E5;
  border-radius: 3px;
  padding: 10px 20px;
}
  button:focus {
    outline: none;
  }
  button:hover {
    border-color: #fff;
    cursor: pointer;
  }

.footer {
  padding: 48px 0;
  vertical-align: middle;
}

a {
  color: #ABA8E1;
  text-decoration: none;
  transition: color 0.5s;
}
  a:hover {
    color: #fff;
    text-decoration: none;
  }

  a img {
    vertical-align: middle;
  }
